<div class="card mx-auto w-75 shadow p-1 mb-5 bg-body-tertiary rounded" style="margin-top: 5rem;">
    <div class="card-header almarai-bold" style="background: #eaddd7;">
        Task list
    </div>
    <div class="filters">
        <button (click)="setFilter('all')" [class.active]="store.currentFilter() === 'all'">All</button>
        <button (click)="setFilter('completed')"
            [class.active]="store.currentFilter() === 'completed'">Completed</button>
        <button (click)="setFilter('pending')" [class.active]="store.currentFilter() === 'pending'">Pending</button>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush border m-4">
            @if (store.loading()) {
            <li class="list-group-item">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                } @else if(store.todos().length === 0) {
            <li class="list-group-item">
                <h5 class="text-center">No tasks available</h5>
                <p class="text-center">Click on the button below to add a new task</p>
            </li>
            } @else {
            @for( todo of store.todos(); track todo.id) {
            <app-todo-item [todo]="todo"></app-todo-item>
            }
            }
        </ul>
    </div>
    <button class="fab" (click)="addTodo()">➕</button>
</div>